---
jobs:
  build_container:
    name: Build container
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-24.04
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      - name: Set up buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Checkout repository vyos/vyos-build
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          ref: ${{ inputs.vyos_build_ref }}
          repository: vyos/vyos-build
      - name: Log into registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          password: ${{ secrets.github_token }}
          registry: ghcr.io
          username: ${{ github.actor }}
      - id: meta
        name: Extract metadata
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5.7.0
        with:
          images: ghcr.io/${{ github.repository_owner }}/vyos-build
          tags: type=raw,value=current
      - if: inputs.vyos_build_pr != ''
        name: Merge requested PRs from vyos/vyos-build
        run: |
          set -eux
          for pr in $(echo "${{ inputs.vyos_build_pr }}"); do
            title=$(curl -s \
              -H "Accept: application/vnd.github+json" \
              -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
              "https://api.github.com/repos/vyos/vyos-build/pulls/${pr}" | \
              jq -r .title)
            git config user.email "tbm-vyos@tech.bymatt.au"
            git config user.name "TBM VyOS"
            git fetch origin "pull/${pr}/head:pr-${pr}"
            git merge --no-commit "pr-${pr}"
          done
        working-directory: vyos-build
      - name: Build and push container image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: docker
          labels: ${{ steps.meta.outputs.labels }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
    timeout-minutes: 30
name: Container
on:
  workflow_call:
    inputs:
      vyos_build_pr:
        description: List of vyos/vyos-build PR IDs to merge (optional)
        required: false
        type: string
      vyos_build_ref:
        default: current
        description: The vyos/vyos-build git ref to checkout
        required: false
        type: string
permissions:
  contents: read
