---
jobs:
  gather_data:
    name: Gather data
    permissions:
      contents: read
    secrets: inherit
    uses: ./.github/workflows/data.yaml
    with:
      patch_string: ${{ inputs.patch_string }}
  build_container:
    if: inputs.build_container == 'ghcr.io/techbymatt/vyos-build:current'
    name: Build container
    needs: [gather_data]
    permissions:
      contents: read
      packages: write
    secrets: inherit
    uses: ./.github/workflows/container.yaml
    with:
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
      vyos_build_ref: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
  build_iso:
    if: |
      !cancelled() && 
      contains(fromJSON('["success", "skipped"]'), needs.build_container.result)
    name: Build ISO
    needs: [gather_data, build_container]
    permissions:
      contents: write
      packages: read
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, arm64]
        include:
          - arch: amd64
            runner-os: ubuntu-24.04
          - arch: arm64
            runner-os: ubuntu-24.04-arm
    uses: ./.github/workflows/iso.yaml
    with:
      arch: ${{ matrix.arch }}
      build_container: ${{ inputs.build_container || 'ghcr.io/techbymatt/vyos-build:current' }}
      runner_os: ${{ matrix.runner-os }}
      version: ${{ needs.gather_data.outputs.version }}
      vyos_1x_commit_sha: ${{ needs.gather_data.outputs.vyos_1x_commit_sha }}
      vyos_1x_pr: ${{ inputs.vyos_1x_pr }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest_cli:
    if: |
      !cancelled() && 
      needs.build_iso.result == 'success'
    name: "Smoketest: CLI"
    needs: [gather_data, build_iso]
    permissions:
      contents: read
      packages: read
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64]
        include:
          - arch: amd64
            runner-os: ubuntu-24.04
    uses: ./.github/workflows/smoketest_cli.yaml
    with:
      arch: ${{ matrix.arch }}
      build_container: ${{ inputs.build_container || 'ghcr.io/techbymatt/vyos-build:current' }}
      runner_os: ${{ matrix.runner-os }}
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest_cli_interfaces:
    if: |
      !cancelled() && 
      needs.build_iso.result == 'success'
    name: "Smoketest: CLI (interfaces)"
    needs: [gather_data, build_iso]
    permissions:
      contents: read
      packages: read
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64]
        include:
          - arch: amd64
            runner-os: ubuntu-24.04
    uses: ./.github/workflows/smoketest_cli_interfaces.yaml
    with:
      arch: ${{ matrix.arch }}
      build_container: ${{ inputs.build_container || 'ghcr.io/techbymatt/vyos-build:current' }}
      runner_os: ${{ matrix.runner-os }}
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest_cli_vpp:
    if: |
      !cancelled() && 
      needs.build_iso.result == 'success'
    name: "Smoketest: CLI (VPP)"
    needs: [gather_data, build_iso]
    permissions:
      contents: read
      packages: read
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64]
        include:
          - arch: amd64
            runner-os: ubuntu-24.04
    uses: ./.github/workflows/smoketest_cli_vpp.yaml
    with:
      arch: ${{ matrix.arch }}
      build_container: ${{ inputs.build_container || 'ghcr.io/techbymatt/vyos-build:current' }}
      runner_os: ${{ matrix.runner-os }}
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest_config:
    if: |
      !cancelled() && 
      needs.build_iso.result == 'success'
    name: "Smoketest: Configuration Load"
    needs: [gather_data, build_iso]
    permissions:
      contents: read
      packages: read
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64]
        include:
          - arch: amd64
            runner-os: ubuntu-24.04
    uses: ./.github/workflows/smoketest_config.yaml
    with:
      arch: ${{ matrix.arch }}
      build_container: ${{ inputs.build_container || 'ghcr.io/techbymatt/vyos-build:current' }}
      runner_os: ${{ matrix.runner-os }}
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest_config_vpp:
    if: |
      !cancelled() && 
      needs.build_iso.result == 'success'
    name: "Smoketest: Configuration Load (VPP)"
    needs: [gather_data, build_iso]
    permissions:
      contents: read
      packages: read
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64]
        include:
          - arch: amd64
            runner-os: ubuntu-24.04
    uses: ./.github/workflows/smoketest_config_vpp.yaml
    with:
      arch: ${{ matrix.arch }}
      build_container: ${{ inputs.build_container || 'ghcr.io/techbymatt/vyos-build:current' }}
      runner_os: ${{ matrix.runner-os }}
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest_raid:
    if: |
      !cancelled() && 
      needs.build_iso.result == 'success'
    name: "Smoketest: RAID1 Installation"
    needs: [gather_data, build_iso]
    permissions:
      contents: read
      packages: read
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64]
        include:
          - arch: amd64
            runner-os: ubuntu-24.04
    uses: ./.github/workflows/smoketest_raid.yaml
    with:
      arch: ${{ matrix.arch }}
      build_container: ${{ inputs.build_container || 'ghcr.io/techbymatt/vyos-build:current' }}
      runner_os: ${{ matrix.runner-os }}
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest_secureboot:
    if: |
      !cancelled() && 
      needs.build_iso.result == 'success'
    name: "Smoketest: Secure Boot"
    needs: [gather_data, build_iso]
    permissions:
      contents: read
      packages: read
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64]
        include:
          - arch: amd64
            runner-os: ubuntu-24.04
    uses: ./.github/workflows/smoketest_secureboot.yaml
    with:
      arch: ${{ matrix.arch }}
      build_container: ${{ inputs.build_container || 'ghcr.io/techbymatt/vyos-build:current' }}
      runner_os: ${{ matrix.runner-os }}
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest_tpm:
    if: |
      !cancelled() && 
      needs.build_iso.result == 'success'
    name: "Smoketest: TPM Encryption"
    needs: [gather_data, build_iso]
    permissions:
      contents: read
      packages: read
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64]
        include:
          - arch: amd64
            runner-os: ubuntu-24.04
    uses: ./.github/workflows/smoketest_tpm.yaml
    with:
      arch: ${{ matrix.arch }}
      build_container: ${{ inputs.build_container || 'ghcr.io/techbymatt/vyos-build:current' }}
      runner_os: ${{ matrix.runner-os }}
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  debug_data:
    if: ${{ !cancelled() }}
    name: "Print Debug Data"
    needs:
      [
        gather_data,
        build_iso,
        smoketest_cli,
        smoketest_cli_interfaces,
        smoketest_cli_vpp,
        smoketest_config,
        smoketest_config_vpp,
        smoketest_raid,
        smoketest_secureboot,
        smoketest_tpm
      ]
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
      - id: debug_data
        name: Print Debug Data
        run: |
          echo "----------------"
          echo "Workflow Inputs"
          echo "----------------"
          echo "build_container: ${{ inputs.build_container }}"
          echo "patch_string: ${{ inputs.patch_string }}"
          echo "vyos_1x_pr: ${{ inputs.vyos_1x_pr }}"
          echo "vyos_build_pr: ${{ inputs.vyos_build_pr }}"
          echo ""
          echo "----------------"
          echo "gather_data"
          echo "----------------"
          echo "version: ${{ needs.gather_data.outputs.version }}"
          echo "vyos_1x_commit: ${{ needs.gather_data.outputs.vyos_1x_commit }}"
          echo "vyos_1x_commit_sha: ${{ needs.gather_data.outputs.vyos_1x_commit_sha }}"
          echo "vyos_build_commit: ${{ needs.gather_data.outputs.vyos_build_commit }}"
          echo "vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}"
          echo ""
          echo "----------------"
          echo "build_iso"
          echo "----------------"
          echo "exit_code_amd64: ${{ needs.build_iso.outputs.exit_code_amd64 }}"
          echo "exit_code_arm64: ${{ needs.build_iso.outputs.exit_code_arm64 }}"
          echo "release_filename_amd64: ${{ needs.build_iso.outputs.release_filename_amd64 }}"
          echo "release_filename_arm64: ${{ needs.build_iso.outputs.release_filename_arm64 }}"
          echo ""
          echo "----------------"
          echo "smoketest_cli"
          echo "----------------"
          echo "exit_code_amd64: ${{ needs.smoketest_cli.outputs.exit_code_amd64 }}"
          echo "exit_code_arm64: ${{ needs.smoketest_cli.outputs.exit_code_arm64 }}"
          echo ""
          echo "----------------"
          echo "smoketest_cli_interfaces"
          echo "----------------"
          echo "exit_code_amd64: ${{ needs.smoketest_cli_interfaces.outputs.exit_code_amd64 }}"
          echo "exit_code_arm64: ${{ needs.smoketest_cli_interfaces.outputs.exit_code_arm64 }}"
          echo ""
          echo "----------------"
          echo "smoketest_cli_vpp"
          echo "----------------"
          echo "exit_code_amd64: ${{ needs.smoketest_cli_vpp.outputs.exit_code_amd64 }}"
          echo "exit_code_arm64: ${{ needs.smoketest_cli_vpp.outputs.exit_code_arm64 }}"
          echo ""
          echo "----------------"
          echo "smoketest_config"
          echo "----------------"
          echo "exit_code_amd64: ${{ needs.smoketest_config.outputs.exit_code_amd64 }}"
          echo "exit_code_arm64: ${{ needs.smoketest_config.outputs.exit_code_arm64 }}"
          echo ""
          echo "----------------"
          echo "smoketest_config_vpp"
          echo "----------------"
          echo "exit_code_amd64: ${{ needs.smoketest_config_vpp.outputs.exit_code_amd64 }}"
          echo "exit_code_arm64: ${{ needs.smoketest_config_vpp.outputs.exit_code_arm64 }}"
          echo ""
          echo "----------------"
          echo "smoketest_raid"
          echo "----------------"
          echo "exit_code_amd64: ${{ needs.smoketest_raid.outputs.exit_code_amd64 }}"
          echo "exit_code_arm64: ${{ needs.smoketest_raid.outputs.exit_code_arm64 }}"
          echo ""
          echo "----------------"
          echo "smoketest_secureboot"
          echo "----------------"
          echo "exit_code_amd64: ${{ needs.smoketest_secureboot.outputs.exit_code_amd64 }}"
          echo "exit_code_arm64: ${{ needs.smoketest_secureboot.outputs.exit_code_arm64 }}"
          echo ""
          echo "----------------"
          echo "smoketest_tpm"
          echo "----------------"
          echo "exit_code_amd64: ${{ needs.smoketest_tpm.outputs.exit_code_amd64 }}"
          echo "exit_code_arm64: ${{ needs.smoketest_tpm.outputs.exit_code_arm64 }}"
          echo ""
name: Development
on:
  workflow_dispatch:
    inputs:
      build_container:
        default: ghcr.io/techbymatt/vyos-build:current
        description: Build container to use
        options:
          - vyos/vyos-build:current
          - ghcr.io/techbymatt/vyos-build:current
        required: true
        type: choice
      patch_string:
        description: Patch version (optional)
        required: false
        type: string
      vyos_1x_pr:
        description: List of upstream vyos-1x PR IDs to merge (optional)
        required: false
        type: string
      vyos_build_pr:
        description: List of upstream vyos-build PR IDs to merge (optional)
        required: false
        type: string
permissions:
  contents: read
