---
jobs:
  gather_data:
    name: Gather data
    permissions:
      contents: read
    secrets: inherit
    uses: ./.github/workflows/data.yaml
    with:
      patch_string: ${{ inputs.patch_string }}
  build:
    if: |
      !cancelled()
    name: Build ISO
    needs: [gather_data]
    permissions:
      contents: write
      packages: write
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, arm64]
        include:
          - arch: amd64
            runner_os: ubuntu-24.04
          - arch: arm64
            runner_os: ubuntu-24.04-arm
    uses: ./.github/workflows/build.yaml
    with:
      arch: ${{ matrix.arch }}
      runner_os: ${{ matrix.runner_os }}
      version: ${{ needs.gather_data.outputs.version }}
      vyos_1x_commit_sha: ${{ needs.gather_data.outputs.vyos_1x_commit_sha }}
      vyos_1x_pr: ${{ inputs.vyos_1x_pr }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest:
    if: |
      !cancelled() && 
      needs.build.result == 'success'
    name: "Smoketest"
    needs: [gather_data, build]
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64]
        test:
          [
            cli,
            cli-interfaces,
            cli-vpp,
            config,
            config-vpp,
            raid,
            secureboot,
            tpm,
          ]
        include:
          - arch: amd64
            runner_os: ubuntu-24.04
          - test: cli
            test_cmd: make test-no-interfaces-no-vpp
            test_timeout: 180
          - test: cli-interfaces
            test_cmd: make test-interfaces
            test_timeout: 180
          - test: cli-vpp
            test_cmd: make test-vpp
            test_timeout: 180
          - test: config
            test_cmd: make testc
            test_timeout: 90
          - test: config-vpp
            test_cmd: make testcvpp
            test_timeout: 60
          - test: raid
            test_cmd: make testraid
            test_timeout: 20
          - test: secureboot
            test_cmd: make testsb
            test_timeout: 20
          - test: tpm
            test_cmd: make testtpm
            test_timeout: 20
    uses: ./.github/workflows/smoketest.yaml
    with:
      arch: ${{ matrix.arch }}
      runner_os: ${{ matrix.runner_os }}
      test: ${{ matrix.test }}
      test_cmd: ${{ matrix.test_cmd }}
      test_timeout: ${{ matrix.test_timeout }}
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  debug_data:
    if: ${{ !cancelled() }}
    name: Print debug data
    needs: [gather_data, build, smoketest]
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
      - id: debug_data
        name: Print debug data
        run: |
          echo "----------------"
          echo "Workflow Inputs"
          echo "----------------"
          echo "patch_string: ${{ inputs.patch_string }}"
          echo "vyos_1x_pr: ${{ inputs.vyos_1x_pr }}"
          echo "vyos_build_pr: ${{ inputs.vyos_build_pr }}"
          echo ""
          echo "----------------"
          echo "gather_data"
          echo "----------------"
          echo "version: ${{ needs.gather_data.outputs.version }}"
          echo "vyos_1x_commit: ${{ needs.gather_data.outputs.vyos_1x_commit }}"
          echo "vyos_1x_commit_sha: ${{ needs.gather_data.outputs.vyos_1x_commit_sha }}"
          echo "vyos_build_commit: ${{ needs.gather_data.outputs.vyos_build_commit }}"
          echo "vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}"
          echo ""
          echo "----------------"
          echo "build"
          echo "----------------"
          echo "result_amd64: ${{ needs.build.outputs.result_amd64 }}"
          echo "result_arm64: ${{ needs.build.outputs.result_arm64 }}"
          echo "release_filename_amd64: ${{ needs.build.outputs.release_filename_amd64 }}"
          echo "release_filename_arm64: ${{ needs.build.outputs.release_filename_arm64 }}"
          echo ""
          echo "----------------"
          echo "Smoketest (`cli`)"
          echo "----------------"
          echo "result_amd64: ${{ needs.smoketest.outputs.result_cli_amd64 }}"
          echo "result_arm64: ${{ needs.smoketest.outputs.result_cli_arm64 }}"
          echo ""
          echo "----------------"
          echo "Smoketest (`cli-interfaces`)"
          echo "----------------"
          echo "result_amd64: ${{ needs.smoketest.outputs.result_cli-interfaces_amd64 }}"
          echo "result_arm64: ${{ needs.smoketest.outputs.result_cli-interfaces_arm64 }}"
          echo ""
          echo "----------------"
          echo "Smoketest (`cli-vpp`)"
          echo "----------------"
          echo "result_amd64: ${{ needs.smoketest.outputs.result_cli-vpp_amd64 }}"
          echo "result_arm64: ${{ needs.smoketest.outputs.result_cli-vpp_arm64 }}"
          echo ""
          echo "----------------"
          echo "Smoketest (`config`)"
          echo "----------------"
          echo "result_amd64: ${{ needs.smoketest.outputs.result_config_amd64 }}"
          echo "result_arm64: ${{ needs.smoketest.outputs.result_config_arm64 }}"
          echo ""
          echo "----------------"
          echo "Smoketest (`config-vpp`)"
          echo "----------------"
          echo "result_amd64: ${{ needs.smoketest.outputs.result_config-vpp_amd64 }}"
          echo "result_arm64: ${{ needs.smoketest.outputs.result_config-vpp_arm64 }}"
          echo ""
          echo "----------------"
          echo "Smoketest (`raid`)"
          echo "----------------"
          echo "result_amd64: ${{ needs.smoketest.outputs.result_raid_amd64 }}"
          echo "result_arm64: ${{ needs.smoketest.outputs.result_raid_arm64 }}"
          echo ""
          echo "----------------"
          echo "Smoketest (`secureboot`)"
          echo "----------------"
          echo "result_amd64: ${{ needs.smoketest.outputs.result_secureboot_amd64 }}"
          echo "result_arm64: ${{ needs.smoketest.outputs.result_secureboot_arm64 }}"
          echo ""
          echo "----------------"
          echo "Smoketest (`tpm`)"
          echo "----------------"
          echo "result_amd64: ${{ needs.smoketest.outputs.result_tpm_amd64 }}"
          echo "result_arm64: ${{ needs.smoketest.outputs.result_tpm_arm64 }}"
          echo ""
name: Development
on:
  workflow_dispatch:
    inputs:
      patch_string:
        description: Patch version (optional)
        required: false
        type: string
      vyos_1x_pr:
        description: List of upstream vyos-1x PR IDs to merge (optional)
        required: false
        type: string
      vyos_build_pr:
        description: List of upstream vyos-build PR IDs to merge (optional)
        required: false
        type: string
permissions:
  contents: read
