---
jobs:
  gather_data:
    name: Gather data
    permissions:
      contents: read
    secrets: inherit
    uses: ./.github/workflows/data.yaml
    with:
      patch_string: ${{ inputs.patch_string }}
  build_iso:
    if: |
      !cancelled()
    name: Build ISO
    needs: [gather_data]
    permissions:
      contents: write
      packages: read
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, arm64]
        include:
          - arch: amd64
            runner-os: ubuntu-24.04
          - arch: arm64
            runner-os: ubuntu-24.04-arm
    uses: ./.github/workflows/compose-build.yaml
    with:
      arch: ${{ matrix.arch }}
      runner_os: ${{ matrix.runner-os }}
      version: ${{ needs.gather_data.outputs.version }}
      vyos_1x_commit_sha: ${{ needs.gather_data.outputs.vyos_1x_commit_sha }}
      vyos_1x_pr: ${{ inputs.vyos_1x_pr }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest_cli:
    if: |
      !cancelled() && 
      needs.build_iso.result == 'success'
    name: "Smoketest: CLI"
    needs: [gather_data, build_iso]
    permissions:
      contents: read
      packages: read
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64]
        include:
          - arch: amd64
            runner-os: ubuntu-24.04
    uses: ./.github/workflows/compose-smoketest.yaml
    with:
      arch: ${{ matrix.arch }}
      runner_os: ${{ matrix.runner-os }}
      test_cmd: sudo make test-no-interfaces-no-vpp
      test_timeout: 180
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest_cli_interfaces:
    if: |
      !cancelled() && 
      needs.build_iso.result == 'success'
    name: "Smoketest: CLI (interfaces)"
    needs: [gather_data, build_iso]
    permissions:
      contents: read
      packages: read
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64]
        include:
          - arch: amd64
            runner-os: ubuntu-24.04
    uses: ./.github/workflows/compose-smoketest.yaml
    with:
      arch: ${{ matrix.arch }}
      runner_os: ${{ matrix.runner-os }}
      test_cmd: sudo make test-no-interfaces
      test_timeout: 180
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest_cli_vpp:
    if: |
      !cancelled() && 
      needs.build_iso.result == 'success'
    name: "Smoketest: CLI (VPP)"
    needs: [gather_data, build_iso]
    permissions:
      contents: read
      packages: read
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64]
        include:
          - arch: amd64
            runner-os: ubuntu-24.04
    uses: ./.github/workflows/compose-smoketest.yaml
    with:
      arch: ${{ matrix.arch }}
      runner_os: ${{ matrix.runner-os }}
      test_cmd: sudo make test-vpp
      test_timeout: 180
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest_config:
    if: |
      !cancelled() && 
      needs.build_iso.result == 'success'
    name: "Smoketest: Configuration Load"
    needs: [gather_data, build_iso]
    permissions:
      contents: read
      packages: read
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64]
        include:
          - arch: amd64
            runner-os: ubuntu-24.04
    uses: ./.github/workflows/compose-smoketest.yaml
    with:
      arch: ${{ matrix.arch }}
      runner_os: ${{ matrix.runner-os }}
      test_cmd: sudo make testc
      test_timeout: 90
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest_config_vpp:
    if: |
      !cancelled() && 
      needs.build_iso.result == 'success'
    name: "Smoketest: Configuration Load (VPP)"
    needs: [gather_data, build_iso]
    permissions:
      contents: read
      packages: read
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64]
        include:
          - arch: amd64
            runner-os: ubuntu-24.04
    uses: ./.github/workflows/compose-smoketest.yaml
    with:
      arch: ${{ matrix.arch }}
      runner_os: ${{ matrix.runner-os }}
      test_cmd: sudo make testcvpp
      test_timeout: 60
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest_raid:
    if: |
      !cancelled() && 
      needs.build_iso.result == 'success'
    name: "Smoketest: RAID1 Installation"
    needs: [gather_data, build_iso]
    permissions:
      contents: read
      packages: read
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64]
        include:
          - arch: amd64
            runner-os: ubuntu-24.04
    uses: ./.github/workflows/compose-smoketest.yaml
    with:
      arch: ${{ matrix.arch }}
      runner_os: ${{ matrix.runner-os }}
      test_cmd: sudo make testraid
      test_timeout: 20
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest_secureboot:
    if: |
      !cancelled() && 
      needs.build_iso.result == 'success'
    name: "Smoketest: Secure Boot"
    needs: [gather_data, build_iso]
    permissions:
      contents: read
      packages: read
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64]
        include:
          - arch: amd64
            runner-os: ubuntu-24.04
    uses: ./.github/workflows/compose-smoketest.yaml
    with:
      arch: ${{ matrix.arch }}
      runner_os: ${{ matrix.runner-os }}
      test_cmd: sudo make testsb
      test_timeout: 20
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest_tpm:
    if: |
      !cancelled() && 
      needs.build_iso.result == 'success'
    name: "Smoketest: TPM Encryption"
    needs: [gather_data, build_iso]
    permissions:
      contents: read
      packages: read
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64]
        include:
          - arch: amd64
            runner-os: ubuntu-24.04
    uses: ./.github/workflows/compose-smoketest.yaml
    with:
      arch: ${{ matrix.arch }}
      runner_os: ${{ matrix.runner-os }}
      test_cmd: sudo make testtpm
      test_timeout: 20
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  draft_release:
    if: |
      !cancelled() &&
      needs.build_iso.result == 'success' &&
      needs.smoketest_cli.result == 'success' &&
      needs.smoketest_cli_interfaces.result == 'success' &&
      needs.smoketest_cli_vpp.result == 'success' &&
      needs.smoketest_config.result == 'success' &&
      needs.smoketest_config_vpp.result == 'success' &&
      needs.smoketest_raid.result == 'success' &&
      needs.smoketest_secureboot.result == 'success' &&
      needs.smoketest_tpm.result == 'success'
    name: Draft release
    needs:
      [
        gather_data,
        build_iso,
        smoketest_cli,
        smoketest_cli_interfaces,
        smoketest_cli_vpp,
        smoketest_config,
        smoketest_config_vpp,
        smoketest_raid,
        smoketest_secureboot,
        smoketest_tpm
      ]
    outputs:
      release_url: ${{ steps.draft_release.outputs.html_url }}
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    steps:
      - id: download_artifact_amd64
        name: Download AMD64 live image artifact
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: tbm-vyos-amd64-${{ needs.gather_data.outputs.version }}-liveimage
          path: build
      - id: rename_artifact_amd64
        name: Rename AMD64 live image artifact
        run: |
          mv live-image-*.hybrid.iso ${{ needs.build_iso.outputs.release_filename_amd64 }}
        working-directory: build
      - id: download_artifact_arm64
        name: Download ARM64 live image artifact
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: tbm-vyos-arm64-${{ needs.gather_data.outputs.version }}-liveimage
          path: build
      - id: rename_artifact_arm64
        name: Rename ARM64 live image artifact
        run: |
          mv live-image-*.hybrid.iso ${{ needs.build_iso.outputs.release_filename_arm64 }}
        working-directory: build
      - id: sign_release
        name: Sign release image
        run: |
          sudo apt-get update
          sudo apt-get --no-install-recommends --quiet=2 install \
            minisign
          mkdir -p ~/.minisign
          echo "${{ secrets.MINISIGN_SECRET }}" > ~/.minisign/minisign.key
          echo "${{ secrets.MINISIGN_PUB }}" > minisign.pub
          echo | minisign -Sm ${{ needs.build_iso.outputs.release_filename_amd64 }}
          echo | minisign -Sm ${{ needs.build_iso.outputs.release_filename_arm64 }}
        working-directory: build
      - id: draft_release
        name: Create draft release
        uses: ncipollo/release-action@440c8c1cb0ed28b9f43e4d1d670870f059653174 # v1.16.0
        with:
          allowUpdates: false
          artifactContentType: application/x-iso9660-image
          artifactErrorsFailBuild: true
          artifacts: "build/tbm-vyos-*.iso, build/tbm-vyos-*.iso.minisig"
          body: |
            ### Build Log
            https://github.com/techbymatt/tbm-vyos/actions/runs/${{ github.run_id }}

            ### Smoketest Results (amd64)
            * CLI: ${{ needs.smoketest_cli.outputs.exit_code_amd64 == 'success' && '✅ passed' || '❌ failed' }}
            * CLI (interfaces): ${{ needs.smoketest_cli_interfaces.outputs.exit_code_amd64 == 'success' && '✅ passed' || '❌ failed' }}
            * CLI (VPP): ${{ needs.smoketest_cli_vpp.outputs.exit_code_amd64 == 'success' && '✅ passed' || '❌ failed' }}
            * Configuration Load: ${{ needs.smoketest_config.outputs.exit_code_amd64 == 'success' && '✅ passed' || '❌ failed' }}
            * Configuration Load (VPP): ${{ needs.smoketest_config_vpp.outputs.exit_code_amd64 == 'success' && '✅ passed' || '❌ failed' }}
            * RAID1 Installation: ${{ needs.smoketest_raid.outputs.exit_code_amd64 == 'success' && '✅ passed' || '❌ failed' }}
            * Secure Boot: ${{ needs.smoketest_secureboot.outputs.exit_code_amd64 == 'success' && '✅ passed' || '❌ failed' }}
            * TPM Encryption: ${{ needs.smoketest_tpm.outputs.exit_code_amd64 == 'success' && '✅ passed' || '❌ failed' }}

            ### Smoketest Results (arm64)
            * CLI: ${{ needs.smoketest_cli.outputs.exit_code_arm64 == 'success' && '✅ passed' || '❌ failed' }}
            * CLI (interfaces): ${{ needs.smoketest_cli_interfaces.outputs.exit_code_arm64 == 'success' && '✅ passed' || '❌ failed' }}
            * CLI (VPP): ${{ needs.smoketest_cli_vpp.outputs.exit_code_arm64 == 'success' && '✅ passed' || '❌ failed' }}
            * Configuration Load: ${{ needs.smoketest_config.outputs.exit_code_arm64 == 'success' && '✅ passed' || '❌ failed' }}
            * Configuration Load (VPP): ${{ needs.smoketest_config_vpp.outputs.exit_code_arm64 == 'success' && '✅ passed' || '❌ failed' }}
            * RAID1 Installation: ${{ needs.smoketest_raid.outputs.exit_code_arm64 == 'success' && '✅ passed' || '❌ failed' }}
            * Secure Boot: ${{ needs.smoketest_secureboot.outputs.exit_code_arm64 == 'success' && '✅ passed' || '❌ failed' }}
            * TPM Encryption: ${{ needs.smoketest_tpm.outputs.exit_code_arm64 == 'success' && '✅ passed' || '❌ failed' }}

            ### Upstream Comparison
            Latest included `vyos-build` commit: https://github.com/vyos/vyos-build/commit/${{ needs.gather_data.outputs.vyos_build_commit }}
            Commits to `vyos-build` since this build: https://github.com/vyos/vyos-build/compare/${{ needs.gather_data.outputs.vyos_build_commit }}...current

            Latest included `vyos-1x` commit: https://github.com/vyos/vyos-1x/commit/${{ needs.gather_data.outputs.vyos_1x_commit }}
            Commits to `vyos-1x` since this build: https://github.com/vyos/vyos-1x/compare/${{ needs.gather_data.outputs.vyos_1x_commit }}...current
          draft: true
          name: TBM VyOS ${{ needs.gather_data.outputs.version }}
          omitDraftDuringUpdate: true
          tag: ${{ needs.gather_data.outputs.version }}
  notify_release:
    if: |
      !cancelled() &&
      needs.draft_release.result == 'success'
    name: Release notifications
    needs: [draft_release]
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
      - id: pushover
        name: Pushover
        run: |
          curl -s \
            --form-string "token=${{ secrets.PO_APP_TOKEN }}" \
            --form-string "user=${{ secrets.PO_USER_KEY }}" \
            --form-string "message=A new draft release has been created!" \
            --form-string "url=${{ needs.draft_release.outputs.release_url }}" \
            https://api.pushover.net/1/messages.json
name: Release
on:
  schedule:
    - cron: "0 7 1 * *"
  workflow_dispatch:
    inputs:
      patch_string:
        description: Patch version? (leave blank for none)
        required: false
        type: string
      vyos_1x_pr:
        description: List of upstream vyos-1x PR IDs to merge (optional)
        required: false
        type: string
      vyos_build_pr:
        description: List of upstream vyos-build PR IDs to merge (optional)
        required: false
        type: string
permissions:
  contents: read
