---
jobs:
  gather_data:
    name: Gather data
    permissions:
      contents: read
    secrets: inherit
    uses: ./.github/workflows/data.yaml
    with:
      patch_string: ${{ inputs.patch_string }}
  build:
    if: |
      !cancelled()
    name: Build ISO
    needs: [gather_data]
    permissions:
      contents: write
      packages: write
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, arm64]
        include:
          - arch: amd64
            runner_os: ubuntu-24.04
          - arch: arm64
            runner_os: ubuntu-24.04-arm
    uses: ./.github/workflows/build.yaml
    with:
      arch: ${{ matrix.arch }}
      runner_os: ${{ matrix.runner_os }}
      version: ${{ needs.gather_data.outputs.version }}
      vyos_1x_commit_sha: ${{ needs.gather_data.outputs.vyos_1x_commit_sha }}
      vyos_1x_pr: ${{ inputs.vyos_1x_pr }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest:
    if: |
      !cancelled() && 
      needs.build.result == 'success'
    name: "Smoketest"
    needs: [gather_data, build]
    permissions:
      actions: read
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64]
        test:
          [
            cli,
            cli-interfaces,
            cli-vpp,
            config,
            config-vpp,
            raid,
            secureboot,
            tpm,
          ]
        include:
          - arch: amd64
            runner_os: ubuntu-24.04
          - test: cli
            test_cmd: make test-no-interfaces-no-vpp
            test_timeout: 180
          - test: cli-interfaces
            test_cmd: make test-interfaces
            test_timeout: 180
          - test: cli-vpp
            test_cmd: make test-vpp
            test_timeout: 180
          - test: config
            test_cmd: make testc
            test_timeout: 90
          - test: config-vpp
            test_cmd: make testcvpp
            test_timeout: 60
          - test: raid
            test_cmd: make testraid
            test_timeout: 20
          - test: secureboot
            test_cmd: make testsb
            test_timeout: 20
          - test: tpm
            test_cmd: make testtpm
            test_timeout: 20
    uses: ./.github/workflows/smoketest.yaml
    with:
      arch: ${{ matrix.arch }}
      runner_os: ${{ matrix.runner_os }}
      test: ${{ matrix.test }}
      test_cmd: ${{ matrix.test_cmd }}
      test_timeout: ${{ matrix.test_timeout }}
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  draft_release:
    if: |
      !cancelled() &&
      needs.smoketest.result == 'success' &&
      !inputs.debug_mode
    name: Draft release
    needs: [gather_data, build, smoketest]
    outputs:
      release_url: ${{ steps.draft_release.outputs.html_url }}
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    steps:
      - id: download_artifact_amd64
        name: Download AMD64 live image artifact
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: tbm-vyos-amd64-${{ needs.gather_data.outputs.version }}-liveimage
          path: build
      - id: rename_artifact_amd64
        name: Rename AMD64 live image artifact
        run: |
          mv live-image-*.hybrid.iso ${{ needs.build.outputs.release_filename_amd64 }}
        working-directory: build
      - id: download_artifact_arm64
        name: Download ARM64 live image artifact
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: tbm-vyos-arm64-${{ needs.gather_data.outputs.version }}-liveimage
          path: build
      - id: rename_artifact_arm64
        name: Rename ARM64 live image artifact
        run: |
          mv live-image-*.hybrid.iso ${{ needs.build.outputs.release_filename_arm64 }}
        working-directory: build
      - id: sign_release
        name: Sign release image
        run: |
          sudo apt-get update
          sudo apt-get --no-install-recommends --quiet=2 install \
            minisign
          mkdir -p ~/.minisign
          echo "${{ secrets.MINISIGN_SECRET }}" > ~/.minisign/minisign.key
          echo "${{ secrets.MINISIGN_PUB }}" > minisign.pub
          echo | minisign -Sm ${{ needs.build.outputs.release_filename_amd64 }}
          echo | minisign -Sm ${{ needs.build.outputs.release_filename_arm64 }}
        working-directory: build
      - id: draft_release
        name: Create draft release
        uses: ncipollo/release-action@440c8c1cb0ed28b9f43e4d1d670870f059653174 # v1.16.0
        with:
          allowUpdates: false
          artifactContentType: application/x-iso9660-image
          artifactErrorsFailBuild: true
          artifacts: "build/tbm-vyos-*.iso, build/tbm-vyos-*.iso.minisig"
          body: |
            ### Build Log
            https://github.com/techbymatt/tbm-vyos/actions/runs/${{ github.run_id }}

            ### Smoketest Results (amd64)
            * CLI: ${{ needs.smoketest.outputs.result_cli_amd64 == 'success' && '✅ passed' || '❌ failed' }}
            * CLI (interfaces): ${{ needs.smoketest.outputs.result_cli-interfaces_amd64 == 'success' && '✅ passed' || '❌ failed' }}
            * CLI (VPP): ${{ needs.smoketest.outputs.result_cli-vpp_amd64 == 'success' && '✅ passed' || '❌ failed' }}
            * Configuration Load: ${{ needs.smoketest.outputs.result_config_amd64 == 'success' && '✅ passed' || '❌ failed' }}
            * Configuration Load (VPP): ${{ needs.smoketest.outputs.result_config-vpp_amd64 == 'success' && '✅ passed' || '❌ failed' }}
            * RAID1 Installation: ${{ needs.smoketest.outputs.result_raid_amd64 == 'success' && '✅ passed' || '❌ failed' }}
            * Secure Boot: ${{ needs.smoketest.outputs.result_secureboot_amd64 == 'success' && '✅ passed' || '❌ failed' }}
            * TPM Encryption: ${{ needs.smoketest.outputs.result_tpm_amd64 == 'success' && '✅ passed' || '❌ failed' }}

            ### Smoketest Results (arm64)
            * CLI: ${{ needs.smoketest.outputs.result_cli_arm64 == 'success' && '✅ passed' || '❌ failed' }}
            * CLI (interfaces): ${{ needs.smoketest.outputs.result_cli-interfaces_arm64 == 'success' && '✅ passed' || '❌ failed' }}
            * CLI (VPP): ${{ needs.smoketest.outputs.result_cli-vpp_arm64 == 'success' && '✅ passed' || '❌ failed' }}
            * Configuration Load: ${{ needs.smoketest.outputs.result_config_arm64 == 'success' && '✅ passed' || '❌ failed' }}
            * Configuration Load (VPP): ${{ needs.smoketest.outputs.result_config-vpp_arm64 == 'success' && '✅ passed' || '❌ failed' }}
            * RAID1 Installation: ${{ needs.smoketest.outputs.result_raid_arm64 == 'success' && '✅ passed' || '❌ failed' }}
            * Secure Boot: ${{ needs.smoketest.outputs.result_secureboot_arm64 == 'success' && '✅ passed' || '❌ failed' }}
            * TPM Encryption: ${{ needs.smoketest.outputs.result_tpm_arm64 == 'success' && '✅ passed' || '❌ failed' }}

            ### Upstream Comparison
            Latest included `vyos-build` commit: https://github.com/vyos/vyos-build/commit/${{ needs.gather_data.outputs.vyos_build_commit }}
            Commits to `vyos-build` since this build: https://github.com/vyos/vyos-build/compare/${{ needs.gather_data.outputs.vyos_build_commit }}...current

            Latest included `vyos-1x` commit: https://github.com/vyos/vyos-1x/commit/${{ needs.gather_data.outputs.vyos_1x_commit }}
            Commits to `vyos-1x` since this build: https://github.com/vyos/vyos-1x/compare/${{ needs.gather_data.outputs.vyos_1x_commit }}...current
          draft: true
          name: TBM VyOS ${{ needs.gather_data.outputs.version }}
          omitDraftDuringUpdate: true
          tag: ${{ needs.gather_data.outputs.version }}
  notify_release:
    if: |
      !cancelled() &&
      needs.draft_release.result == 'success' &&
      !inputs.debug_mode
    name: Release notifications
    needs: [draft_release]
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
      - id: pushover
        name: Pushover
        run: |
          curl -s \
            --form-string "token=${{ secrets.PO_APP_TOKEN }}" \
            --form-string "user=${{ secrets.PO_USER_KEY }}" \
            --form-string "message=A new draft release has been created!" \
            --form-string "url=${{ needs.draft_release.outputs.release_url }}" \
            https://api.pushover.net/1/messages.json
  debug_data:
    if: |
      !cancelled() &&
      inputs.debug_mode
    name: Print debug data
    needs: [gather_data, build, smoketest]
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
      - id: debug_data
        name: Print debug data
        run: |
          echo "----------------"
          echo "Workflow Inputs"
          echo "----------------"
          echo "patch_string: ${{ inputs.patch_string }}"
          echo "vyos_1x_pr: ${{ inputs.vyos_1x_pr }}"
          echo "vyos_build_pr: ${{ inputs.vyos_build_pr }}"
          echo ""
          echo "----------------"
          echo "gather_data"
          echo "----------------"
          echo "version: ${{ needs.gather_data.outputs.version }}"
          echo "vyos_1x_commit: ${{ needs.gather_data.outputs.vyos_1x_commit }}"
          echo "vyos_1x_commit_sha: ${{ needs.gather_data.outputs.vyos_1x_commit_sha }}"
          echo "vyos_build_commit: ${{ needs.gather_data.outputs.vyos_build_commit }}"
          echo "vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}"
          echo ""
          echo "----------------"
          echo "build"
          echo "----------------"
          echo "result_amd64: ${{ needs.build.outputs.result_amd64 }}"
          echo "result_arm64: ${{ needs.build.outputs.result_arm64 }}"
          echo "release_filename_amd64: ${{ needs.build.outputs.release_filename_amd64 }}"
          echo "release_filename_arm64: ${{ needs.build.outputs.release_filename_arm64 }}"
          echo ""
          echo "----------------"
          echo "smoketest_cli"
          echo "----------------"
          echo "result_amd64: ${{ needs.smoketest.outputs.result_cli_amd64 }}"
          echo "result_arm64: ${{ needs.smoketest.outputs.result_cli_arm64 }}"
          echo ""
          echo "----------------"
          echo "smoketest_cli-interfaces"
          echo "----------------"
          echo "result_amd64: ${{ needs.smoketest.outputs.result_cli-interfaces_amd64 }}"
          echo "result_arm64: ${{ needs.smoketest.outputs.result_cli-interfaces_arm64 }}"
          echo ""
          echo "----------------"
          echo "smoketest_cli-vpp"
          echo "----------------"
          echo "result_amd64: ${{ needs.smoketest.outputs.result_cli-vpp_amd64 }}"
          echo "result_arm64: ${{ needs.smoketest.outputs.result_cli-vpp_arm64 }}"
          echo ""
          echo "----------------"
          echo "smoketest_config"
          echo "----------------"
          echo "result_amd64: ${{ needs.smoketest.outputs.result_config_amd64 }}"
          echo "result_arm64: ${{ needs.smoketest.outputs.result_config_arm64 }}"
          echo ""
          echo "----------------"
          echo "smoketest_config-vpp"
          echo "----------------"
          echo "result_amd64: ${{ needs.smoketest.outputs.result_config-vpp_amd64 }}"
          echo "result_arm64: ${{ needs.smoketest.outputs.result_config-vpp_arm64 }}"
          echo ""
          echo "----------------"
          echo "smoketest_raid"
          echo "----------------"
          echo "result_amd64: ${{ needs.smoketest.outputs.result_raid_amd64 }}"
          echo "result_arm64: ${{ needs.smoketest.outputs.result_raid_arm64 }}"
          echo ""
          echo "----------------"
          echo "smoketest_secureboot"
          echo "----------------"
          echo "result_amd64: ${{ needs.smoketest.outputs.result_secureboot_amd64 }}"
          echo "result_arm64: ${{ needs.smoketest.outputs.result_secureboot_arm64 }}"
          echo ""
          echo "----------------"
          echo "smoketest_tpm"
          echo "----------------"
          echo "result_amd64: ${{ needs.smoketest.outputs.result_tpm_amd64 }}"
          echo "result_arm64: ${{ needs.smoketest.outputs.result_tpm_arm64 }}"
          echo ""
name: Release
on:
  schedule:
    - cron: "0 7 1 * *"
  workflow_dispatch:
    inputs:
      debug_mode:
        default: false
        description: Enable debug mode?
        required: true
        type: boolean
      patch_string:
        description: Patch version? (leave blank for none)
        required: false
        type: string
      vyos_1x_pr:
        description: List of upstream vyos-1x PR IDs to merge (optional)
        required: false
        type: string
      vyos_build_pr:
        description: List of upstream vyos-build PR IDs to merge (optional)
        required: false
        type: string
permissions:
  contents: read
