---
jobs:
  gather_data:
    name: Gather data
    permissions:
      contents: read
    secrets: inherit
    uses: techbymatt/tbm-vyos/.github/workflows/data.yaml@main
    with:
      patch_string: ${{ inputs.patch_string }}
  build_container:
    if: |
      inputs.build_container == 'ghcr.io/techbymatt/vyos-build:current' ||
      github.event.schedule
    name: Build container
    needs: [gather_data]
    permissions:
      contents: read
      packages: write
    secrets: inherit
    uses: techbymatt/tbm-vyos/.github/workflows/container.yaml@main
    with:
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
      vyos_build_ref: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
  build_iso:
    if: |
      !cancelled() && 
      contains(fromJSON('["success", "skipped"]'), needs.build_container.result)
    name: Build ISO
    needs: [gather_data, build_container]
    permissions:
      contents: write
      packages: read
    secrets: inherit
    uses: techbymatt/tbm-vyos/.github/workflows/iso.yaml@main
    with:
      build_container: ${{ inputs.build_container }}
      version: ${{ needs.gather_data.outputs.version }}
      vyos_1x_commit_sha: ${{ needs.gather_data.outputs.vyos_1x_commit_sha }}
      vyos_1x_pr: ${{ inputs.vyos_1x_pr }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest_cli:
    if: |
      !cancelled() && 
      needs.build_iso.result == 'success'
    name: "Smoketest: CLI"
    needs: [gather_data, build_iso]
    permissions:
      contents: read
      packages: read
    uses: techbymatt/tbm-vyos/.github/workflows/smoketest_cli.yaml@main
    with:
      build_container: ${{ inputs.build_container }}
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest_cli_interfaces:
    if: |
      !cancelled() && 
      needs.build_iso.result == 'success'
    name: "Smoketest: CLI (interfaces)"
    needs: [gather_data, build_iso]
    permissions:
      contents: read
      packages: read
    uses: techbymatt/tbm-vyos/.github/workflows/smoketest_cli_interfaces.yaml@main
    with:
      build_container: ${{ inputs.build_container }}
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest_cli_vpp:
    if: |
      !cancelled() && 
      needs.build_iso.result == 'success'
    name: "Smoketest: CLI (VPP)"
    needs: [gather_data, build_iso]
    permissions:
      contents: read
      packages: read
    uses: techbymatt/tbm-vyos/.github/workflows/smoketest_cli_vpp.yaml@main
    with:
      build_container: ${{ inputs.build_container }}
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest_config:
    if: |
      !cancelled() && 
      needs.build_iso.result == 'success'
    name: "Smoketest: Configuration Load"
    needs: [gather_data, build_iso]
    permissions:
      contents: read
      packages: read
    uses: techbymatt/tbm-vyos/.github/workflows/smoketest_config.yaml@main
    with:
      build_container: ${{ inputs.build_container }}
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest_config_vpp:
    if: |
      !cancelled() && 
      needs.build_iso.result == 'success'
    name: "Smoketest: Configuration Load (VPP)"
    needs: [gather_data, build_iso]
    permissions:
      contents: read
      packages: read
    uses: techbymatt/tbm-vyos/.github/workflows/smoketest_config_vpp.yaml@main
    with:
      build_container: ${{ inputs.build_container }}
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest_raid:
    if: |
      !cancelled() && 
      needs.build_iso.result == 'success'
    name: "Smoketest: RAID1 Installation"
    needs: [gather_data, build_iso]
    permissions:
      contents: read
      packages: read
    uses: techbymatt/tbm-vyos/.github/workflows/smoketest_raid.yaml@main
    with:
      build_container: ${{ inputs.build_container }}
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest_secureboot:
    if: |
      !cancelled() && 
      needs.build_iso.result == 'success'
    name: "Smoketest: Secure Boot"
    needs: [gather_data, build_iso]
    permissions:
      contents: read
      packages: read
    uses: techbymatt/tbm-vyos/.github/workflows/smoketest_secureboot.yaml@main
    with:
      build_container: ${{ inputs.build_container }}
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  smoketest_tpm:
    if: |
      !cancelled() && 
      needs.build_iso.result == 'success'
    name: "Smoketest: TPM Encryption"
    needs: [gather_data, build_iso]
    permissions:
      contents: read
      packages: read
    uses: techbymatt/tbm-vyos/.github/workflows/smoketest_tpm.yaml@main
    with:
      build_container: ${{ inputs.build_container }}
      version: ${{ needs.gather_data.outputs.version }}
      vyos_build_commit_sha: ${{ needs.gather_data.outputs.vyos_build_commit_sha }}
      vyos_build_pr: ${{ inputs.vyos_build_pr }}
  draft_release:
    if: |
      !cancelled() &&
      needs.build_iso.result == 'success' &&
      needs.smoketest_cli.result == 'success' &&
      needs.smoketest_cli_interfaces.result == 'success' &&
      needs.smoketest_cli_vpp.result == 'success' &&
      needs.smoketest_config.result == 'success' &&
      needs.smoketest_config_vpp.result == 'success' &&
      needs.smoketest_raid.result == 'success' &&
      needs.smoketest_secureboot.result == 'success' &&
      needs.smoketest_tpm.result == 'success'
    name: Draft release
    needs:
      [
        gather_data,
        build_iso,
        smoketest_cli,
        smoketest_cli_interfaces,
        smoketest_cli_vpp,
        smoketest_config,
        smoketest_config_vpp,
        smoketest_raid,
        smoketest_secureboot,
        smoketest_tpm
      ]
    outputs:
      release_url: ${{ steps.draft_release.outputs.html_url }}
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    steps:
      - id: download_artifact
        name: Download live image artifact
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: tbm-vyos-${{ needs.gather_data.outputs.version }}-liveimage
          path: build
      - id: rename_artifact
        name: Rename live image artifact
        run: |
          set -eux
          mv live-image-*.hybrid.iso ${{ needs.build_iso.outputs.release_filename }}
        working-directory: build
      - id: sign_release
        name: Sign release image
        run: |
          set -eux
          sudo apt-get update
          sudo apt-get install minisign
          mkdir -p ~/.minisign
          echo "${{ secrets.MINISIGN_SECRET }}" > ~/.minisign/minisign.key
          echo "${{ secrets.MINISIGN_PUB }}" > minisign.pub
          echo | minisign -Sm ${{ needs.build_iso.outputs.release_filename }}
        working-directory: build
      - id: draft_release
        name: Create draft release
        uses: ncipollo/release-action@440c8c1cb0ed28b9f43e4d1d670870f059653174 # v1.16.0
        with:
          allowUpdates: false
          artifactContentType: application/x-iso9660-image
          artifactErrorsFailBuild: true
          artifacts: "build/tbm-vyos-*.iso, build/tbm-vyos-*.iso.minisig"
          body: |
            ### Build Log
            https://github.com/techbymatt/tbm-vyos/actions/runs/${{ github.run_id }}

            ### Smoketest Results
            * CLI: ${{ needs.smoketest_cli.outputs.exit_code == 'success' && '✅ passed' || '❌ failed' }}
            * CLI (interfaces): ${{ needs.smoketest_cli_interfaces.outputs.exit_code == 'success' && '✅ passed' || '❌ failed' }}
            * CLI (VPP): ${{ needs.smoketest_cli_vpp.outputs.exit_code == 'success' && '✅ passed' || '❌ failed' }}
            * Configuration Load: ${{ needs.smoketest_config.outputs.exit_code == 'success' && '✅ passed' || '❌ failed' }}
            * Configuration Load (VPP): ${{ needs.smoketest_config_vpp.outputs.exit_code == 'success' && '✅ passed' || '❌ failed' }}
            * RAID1 Installation: ${{ needs.smoketest_raid.outputs.exit_code == 'success' && '✅ passed' || '❌ failed' }}
            * RAID1 Installation: ${{ needs.smoketest_secureboot.outputs.exit_code == 'success' && '✅ passed' || '❌ failed' }}
            * TPM Encryption: ${{ needs.smoketest_tpm.outputs.exit_code == 'success' && '✅ passed' || '❌ failed' }}

            ### Upstream Comparison
            Latest included `vyos-build` commit: https://github.com/vyos/vyos-build/commit/${{ needs.gather_data.outputs.vyos_build_commit }}
            Commits to `vyos-build` since this build: https://github.com/vyos/vyos-build/compare/${{ needs.gather_data.outputs.vyos_build_commit }}...current

            Latest included `vyos-1x` commit: https://github.com/vyos/vyos-1x/commit/${{ needs.gather_data.outputs.vyos_1x_commit }}
            Commits to `vyos-1x` since this build: https://github.com/vyos/vyos-1x/compare/${{ needs.gather_data.outputs.vyos_1x_commit }}...current
          draft: true
          name: TBM VyOS ${{ needs.gather_data.outputs.version }}
          omitDraftDuringUpdate: true
          tag: ${{ needs.gather_data.outputs.version }}
  notify_release:
    if: |
      !cancelled() &&
      needs.draft_release.result == 'success'
    name: Release notifications
    needs: [draft_release]
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
      - id: pushover
        name: Pushover
        run: |
          curl -s \
            --form-string "token=${{ secrets.PO_APP_TOKEN }}" \
            --form-string "user=${{ secrets.PO_USER_KEY }}" \
            --form-string "message=A new draft release has been created!" \
            --form-string "url=${{ needs.draft_release.outputs.release_url }}" \
            https://api.pushover.net/1/messages.json
name: Release
on:
  workflow_dispatch:
    inputs:
      build_container:
        default: "ghcr.io/techbymatt/vyos-build:current"
        description: "Build container to use?"
        options:
          - "vyos/vyos-build:current"
          - "ghcr.io/techbymatt/vyos-build:current"
        required: true
        type: choice
      patch_string:
        description: "Patch version? (leave blank for none)"
        required: false
        type: string
      vyos_1x_pr:
        description: "List of upstream vyos-1x PR IDs to merge (optional)"
        required: false
        type: string
      vyos_build_pr:
        description: "List of upstream vyos-build PR IDs to merge (optional)"
        required: false
        type: string
  schedule:
    - cron: "0 3 1 * *"
